In [1]:
import pandas as pd
import os

In [4]:
df_ood_3 = pd.read_csv('out_of_domain_3 1.csv', delimiter = '\t')

In [5]:
df_ood_3

,_id,text,sexism
0,sexism2022_english-9609,"In Nigeria, if you rape a woman, the men rape ...",non-sexist
1,sexism2022_english-16993,"Then, she's a keeper. üòâ",non-sexist
2,sexism2022_english-13149,This is like the Metallica video where the poo...,non-sexist
3,sexism2022_english-13021,woman?,non-sexist
4,sexism2022_english-966,I bet she wished she had a gun,non-sexist
...,...,...,...
19995,sexism2022_english-5228,girls really get fucked almost every weekend ?,non-sexist
19996,sexism2022_english-10140,The hatred for moslems are Reasonable and Just...,non-sexist
19997,sexism2022_english-9726,Now this is a woman who gets it. üëÜ,non-sexist
19998,sexism2022_english-13365,‚ÄúAmerican Idol‚Äù finalist [USER] said nothing i...,non-sexist
19999,sexism2022_english-3523,this bi--th should be stoped she's the rapist,sexist

In [6]:
import re
re.findall('\d+', 'sexism2022_english-3523')

['2022', '3523']

In [7]:
import re
def get_ids(x):
    num = re.findall('\d+', x)
    return num[-1]

In [10]:
df_ood_3['id'] = df_ood_3['_id'].apply(lambda x: get_ids(x))

In [11]:
from sklearn.preprocessing import LabelBinarizer

In [12]:
lb = LabelBinarizer()

df_ood_3['numeric_labels'] = lb.fit_transform(df_ood_3['sexism'])

In [15]:
df_ood_3[df_ood_3['sexism'] == 'sexist']

,_id,text,sexism,id,numeric_labels
6,sexism2022_english-7228,[USER] Leg day is easy. Hot girls who wear min...,sexist,7228,1
8,sexism2022_english-872,I get a new pussy every other week or whenever...,sexist,872,1
9,sexism2022_english-3553,I agree with that but at the same time I know ...,sexist,3553,1
14,sexism2022_english-14992,O come on there's no way any men are attracted...,sexist,14992,1
15,sexism2022_english-13328,democrats from Minnesota (leftist muzzie shith...,sexist,13328,1
...,...,...,...,...,...
19983,sexism2022_english-17659,This is easily the dumbest thing ever written....,sexist,17659,1
19984,sexism2022_english-13737,Recently some thots started advertizing their ...,sexist,13737,1
19986,sexism2022_english-8065,I wish yall understand what a burden it can be...,sexist,8065,1
19992,sexism2022_english-12176,idiocracy always seems to be female. Best evid...,sexist,12176,1
19999,sexism2022_english-3523,this bi--th should be stoped she's the rapist,sexist,3523,1

In [16]:
df_ood_3[['id', 'numeric_labels', 'text']].to_csv('ood_3.csv', index = False)

In [2]:
df_ood_3 = pd.read_csv('ood_3.csv')

In [4]:
df_ood_3.numeric_labels.value_counts()

numeric_labels
0    15146
1     4854
Name: count, dtype: int64