In [1]:
import pandas as pd
import numpy as np
import os
import math

In [2]:
df = pd.read_csv(os.path.join(os.path.expanduser('~/Influence_Scores/score_results'), 'sexist_data_final_train.csv'))

In [3]:
df.head()

,id,text,numeric_labels,sexist,predicted_label_1,correct_yx,predicted_label_2,predicted_label_3,predicted_label_4,predicted_label_5,average_pvi,average_el2n,average_vog,misclassification_number
0,2651,SIIIIGH http://t.co/BpJX5JwhlH,0,False,LABEL_0,True,LABEL_0,LABEL_0,LABEL_0,LABEL_0,0.148039,0.006603,-0.832910,0
1,6089,I really dislike working with undergrads in la...,0,False,LABEL_0,True,LABEL_0,LABEL_0,LABEL_0,LABEL_0,0.132709,0.021481,-0.832839,0
2,9786,"So calling qualified hires ""tokens"" b/c it's n...",0,False,LABEL_0,True,LABEL_0,LABEL_0,LABEL_0,LABEL_0,0.142481,0.012016,-0.831354,0
3,10635,Noooooo #mkr whyyyyy,0,False,LABEL_0,True,LABEL_0,LABEL_0,LABEL_0,LABEL_0,0.145224,0.009347,-0.834254,0
4,9749,I don't know ANY genuine female nerds... who w...,0,False,LABEL_1,False,LABEL_1,LABEL_1,LABEL_1,LABEL_1,-1.236664,0.868590,-0.832807,5

In [4]:
df_pvi = df[['id', 'text', 'numeric_labels', 'average_pvi', 'misclassification_number']].reset_index(drop = True)

In [9]:
df_el2n = df[['id', 'average_el2n', 'numeric_labels']].reset_index(drop = True)

In [10]:
df_pvi = df_pvi.sort_values(by = 'average_pvi').reset_index(drop = True)

In [11]:
df_el2n = df_el2n.sort_values(by = 'average_el2n', ascending = False).reset_index(drop = True)

In [12]:
df_pvi_ns = df_pvi[df_pvi['numeric_labels'] == 0].reset_index(drop = True)
df_el2n_ns = df_el2n[df_el2n['numeric_labels'] == 0].reset_index(drop = True)

In [16]:
def get_easy_hard_undersample_data(df_ns):
    df_ns_hard = df_ns.iloc[0: math.ceil(0.6 * df_ns.shape[0])].reset_index(drop = True)
    df_ns_easy = df_ns.iloc[-math.ceil(0.6 * df_ns.shape[0]) : -1].reset_index(drop = True)
    df_ns_hard.to_csv(os.path.join('pruned_shots', f'data_pvi_el2n_prune_hard_roberta.csv'), index = False)
    df_ns_easy.to_csv(os.path.join('pruned_shots', f'data_pvi_el2n_prune_easy_roberta.csv'), index = False)

In [17]:
df_pvi_el2n_ns = df_pvi_ns.merge(df_el2n_ns[['id', 'average_el2n']].reset_index(drop = True), on = 'id', how = 'inner')

In [18]:
get_easy_hard_undersample_data(df_pvi_el2n_ns)